
<div class=" d-flex flex-fill row my-3">
  <div class="col  d-flex justify-content-between">
    <div class="row  mx-auto">
      <img src="{{picture}}" *ngIf="picture" alt="Your image" style="display: block"
           class="img-fluid"/>
    </div>
  </div>
  <div class="col justify-content-around  d-flex {{orientation === 'VERTICAL' ? 'flex-column' : 'flex-row'}}">
    <ngx-file-drop class="align-self-center" dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" accept=".jpeg, .png, .jpg"
                   [multiple]="false" [directory]="false">
      <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
        <div class="col">
                <span class="row">
                  <span class="col mx-auto text-center">
                    {{importLabel}}
                  </span>
                </span>
          <span class="row justify-content-center mt-2">
                  <button mat-stroked-button type="button" color="primary" (click)="openFileSelector()">Importer</button>
                </span>
        </div>
      </ng-template>
    </ngx-file-drop>
    <span class="align-self-center">
      <button mat-stroked-button type="button" color="primary" (click)="editPicture()" [disabled]="canEdit">Editer</button>
    </span>
    <span class="align-self-center">
      <button *ngIf="!hideSaveButton" mat-stroked-button type="button" color="primary" [disabled]="!canSavePicture" (click)="savePicture()">Enregistrer</button>
    </span>
  </div>
</div>
