<nav mat-tab-nav-bar backgroundColor="primary">
  <div class="w-75">
    <a mat-tab-link routerLink="/home" routerLinkActive="active" class="nav-link" data-toggle="tab" id="homeLink">Accueil</a>
    <a mat-tab-link routerLink="/contact" routerLinkActive="active" class="nav-link" data-toggle="tab" id="contactLink">Contact</a>
    <ng-container *ngIf="!user">
      <a mat-tab-link routerLink="/login" routerLinkActive="active" class="nav-link" data-toggle="tab" id="loginLink">Connexion</a>
    </ng-container>
  </div>
  <div class="d-flex w-25 justify-content-end">
    <ng-container *ngIf="user">
      <a mat-tab-link routerLink="/profile"  routerLinkActive="active" class="nav-link" data-toggle="tab" id="profileLink" class="align-self-end">{{user.username}}</a>
    </ng-container>
  </div>
</nav>
