<div class="container-fluid">
  <mat-card class="float-left ">
    <app-events-filter (filterReset)="onFilterReset()" (filterChanged)="updateFilter($event)"
                       (filterConfirmed)="getTranslatedEvents()"></app-events-filter>
  </mat-card>
  <div class="container">
    <div class="my-3" *ngFor="let event of events" >
      <app-events-event  [event]="event"  >
      </app-events-event>
    </div>

    <mat-paginator *ngIf="pagination" [length]="pagination.total"
                   [pageSize]="pagination.size"
                   [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageChange($event)">
    </mat-paginator>
  </div>

</div>

