<app-filtered-list>
  <app-events-filter appFilteredListFilter (filterReset)="onFilterReset()" (filterChanged)="updateFilter($event)"
                     (filterConfirmed)="getTranslatedEvents()"></app-events-filter>
  <div appFilteredListList>
    <div class="my-3" *ngFor="let event of elements; let i = index; trackBy:trackByFn">
      <app-events-event [resources]="resources" [element]="event"
                        [languages]="languages" (eventUpdated)="onEventUpdated($event)" (eventDeleted)="onEventDeleted(event)">
      </app-events-event>
    </div>
  </div>
  <mat-paginator appFilteredListPaginator *ngIf="pagination" [length]="pagination.total"
                 [pageSize]="pagination.size"
                 [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageChange($event)">
  </mat-paginator>
</app-filtered-list>

