<form [formGroup]="filterGrp" class="mx-4 py-4">
  <div class="d-flex">
    <mat-form-field>
      <mat-label>Nom d'utilisateur</mat-label>
      <input [formControl]="usernameCtrl"  [matAutocomplete]="usernameAuto" matInput type="text">
      <mat-autocomplete #usernameAuto="matAutocomplete"  >
        <mat-option *ngFor="let username of filteredUsernames | async" [value]="username.username">
          {{username.username}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div class="d-flex">
    <button class="mx-auto" (click)="confirm()" mat-stroked-button color="primary" >Filtrer</button>
    <button class="mx-auto" (click)="reset()" mat-stroked-button color="warn">Réinitialiser</button>
  </div>
</form>
