<div class="container mt-2">
  <mat-horizontal-stepper #stepper  (animationDone)="onChange()"  linear >

    <mat-step [stepControl]="translationsArr" [editable]="false" >
      <ng-template matStepLabel>Initialiser les traductions</ng-template>
        <app-events-edit-translations [languages]="languages" [formArray]="translationsArr" [elements]="translations" (elementsChanged)="onTranslationsChanged($event)"> </app-events-edit-translations>
      <div>
        <button mat-button matStepperNext [disabled]="translationsArr.invalid">Suivant</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="choicesArr" [editable]="false" >
      <ng-template matStepLabel>Ajouter des choix</ng-template>
           <app-events-edit-choices [languages]="languages" [resources]="resources" [elements]="choices" [formArray]="choicesArr" (elementsChanged)="onChoicesChange($event)" ></app-events-edit-choices>
      <div>
        <button mat-button matStepperPrevious [disabled]="choicesArr.invalid">Précédent</button>
        <button mat-button matStepperNext [disabled]="choicesArr.invalid">Suivant</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="pictureGrp" [editable]="false">
      <ng-template matStepLabel>Ajouter une image</ng-template>
      <app-image-drop [hideSaveButton]="true" (pictureChanged)="pictureChanged($event)" [file]="eventPicture" ></app-image-drop >
      <div>
        <button mat-button matStepperPrevious>Précédent</button>
        <button mat-button matStepperNext [disabled]="pictureGrp?.invalid">Suivant</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="optionsGrp" [editable]="false">
      <ng-template matStepLabel>Sélectionner les options supplémentaires</ng-template>
      <app-events-edit-options (elementChanged)="onOptionsChanged($event)" [formGrp]="optionsGrp" [element]="eventOption" ></app-events-edit-options>
      <div>
        <button mat-button matStepperPrevious>Précédent</button>
        <button mat-button matStepperNext (click)="createEvent()" [disabled]="optionsGrp.invalid">Créer</button>
      </div>
    </mat-step>
    <mat-step [editable]="false">
      <ng-template matStepLabel>Créé</ng-template>
      <p>Evénement créé</p>
      <div>
        <button mat-button (click)="resetStepper()" [disabled]="!isEventCreated">Recréer</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

</div>

