<mat-card class="p-4">
  <div class="row justify-content-center">
    <h1>Connexion</h1>
  </div>
  <form (ngSubmit)="attemptLogin()" [formGroup]="userLoginForm" class="my-2">
    <div id="user-data" class=" d-flex  flex-column">
      <mat-form-field appearance="outline" class="w-100 mx-auto">
        <mat-label for="username">Nom d'utilisateur</mat-label>
        <input formControlName="username" id="username" matInput type="text">
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100 mx-auto">
        <mat-label for="password">Mot de passe</mat-label>
        <input formControlName="password" id="password" matInput type="password">
        <mat-hint ><a routerLink="/recovery"  class="mat-accent">Mot de passe oublié ?</a></mat-hint>
      </mat-form-field>
      <div class="d-flex justify-content-around align-items-center my-2">
        <mat-checkbox
          formControlName="rememberMe"
          labelPosition="before">
          Se souvenir de moi
        </mat-checkbox>
        <button [disabled]="!isFormValid()" mat-stroked-button type="submit" id="sign-in-button">Connexion
        </button>
      </div>
    </div>
  </form>
  <div class="d-flex  justify-content-center mt-3">
    <button routerLink="/register" mat-button color="accent">Créer un compte</button>
  </div>
</mat-card>





