<div class="row">
  <div class="d-flex col-12 justify-content-between align-items-center">
    <mat-form-field>
      <mat-label>Langue</mat-label>
      <input [formControl]="languagesCtrl" [matAutocomplete]="languageAuto" matInput type="text" [required]="true" >
      <mat-autocomplete #languageAuto="matAutocomplete" [displayWith]="languageDisplayFn">
        <mat-option *ngFor="let language of languagesFiltered | async" [value]="language" >
          {{language.displayCode}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Resource</mat-label>
      <input [formControl]="resourcesCtrl" [matAutocomplete]="resourceAuto" matInput type="text" [required]="true"  >
      <mat-autocomplete #resourceAuto="matAutocomplete" [displayWith]="resourceDisplayFn"  (optionSelected)="emitElementChanged()">
        <mat-option *ngFor="let resource of resourcesFiltered | async" [value]="resource" >
          {{resource.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Modificateur</mat-label>
      <input [formControl]="changeValueCtrl" matInput type="number" [required]="true">
    </mat-form-field>

    <img src="{{resourceIcon | async}}" *ngIf="resourceIcon | async" alt="Icon" class="mat-icon" />
    <div>
      <button class="mx-2" mat-mini-fab color="primary" *ngIf="canAdd" (click)="onAddClicked()" [disabled]="formGrp.invalid"><mat-icon>add</mat-icon></button>
      <button class="mx-2" mat-mini-fab color="warn" *ngIf="!canAdd" (click)="onDeleteClicked()"><mat-icon>clear</mat-icon></button>
    </div>
  </div>

</div>
